.App {
  text-align: center;
}

.nav a.active {
  border-bottom: 3px solid black;
}

.nav a {
  margin: 10px;
  padding: 3px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 100;
}
